
.product {
    display: grid;
    grid-template-columns: 100% 1fr;
    grid-gap: 6rem;
  }

.titulo {
    text-align: center;
    font-size: 3rem;
    color: rgb(196, 120, 8);
    font-weight: bold;
    margin-left: 10rem;
    margin-top: 50px;
    margin-bottom: 50px;
}

.imagen {
    float: left;
    border-radius: 20px ;   
    width: 30%;
    margin-bottom: 50px;
}


.descripcion {
    font-size: 2rem;
    color: rgb(245, 163, 116)
}

p.precio {
    text-align: center;
    color:rgb(218, 131, 2);
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
}

div.container {
    display: flex;
    text-align: center; 
    width: 60%
}

.botonProductItem {   
    display:block;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    color: white;
    font-weight: bold;
    border: 0.1rem rgb(202, 87, 20) solid; 
    background-color:  rgb(231, 165, 126);
  }
  
  .botonProductItem:hover {
    border: 0.3rem rgb(126, 11, 11) solid;
  }

.btn{
    color: white;
    margin-right: 1.2rem;
    margin-top: 1rem;
    border: 0.1rem rgb(202, 87, 20) solid; 
    background-color:  rgb(231, 165, 126);
  }



.button {
  width: 100%;
}

.btn:hover {
  /* color: white; */
  background-color: rgb(223, 167, 83);
  border-color: rgb(196, 120, 8);
  border: solid 2px;
}

.boton {
    color: white;
    background-color: rgb(223, 167, 83);
    border-color: rgb(196, 120, 8);
}

.boton:hover {
    background-color: rgb(223, 167, 83);
    border-color: rgb(196, 120, 8);
    border: solid 2px;
}


.button {
    margin-right: 1.2rem;
    margin-top: 1rem;
    border: 0.1rem rgb(202, 87, 20) solid; 
    background-color:  rgb(231, 165, 126);
  }
  
  .button:hover {
    border: 0.3rem rgb(126, 11, 11) solid;
  }
  
  .button .primary {
    background-color: antiquewhite;
  }
  
  .carrito {
    text-align: center;
    color: white;
    font-size: 1.5rem;
  } 

  .cantidad {
      display: flex;
  }

  input.cantidad {
  width: 20%;
  text-align: center;
  border: none;
  padding: 0.5rem;
  text-align: center;
  font-size: 1.8rem;
  outline: none;
  }
  
  .mr-4.boton {
      width: 5%;
      
  }