.checkout {
    padding: 2rem 0;
  }
  
  .checkout h2 {
    text-align: center;
    font-size: 3rem;
    color: orange;
  }
  
  .checkout form {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  .checkout form input{
    padding: 1rem;
    margin-bottom: 1rem;
  }

  button.pagar {
    padding: 1rem;
    margin-bottom: 1rem;
    color: white;
    border: 0.1rem rgb(202, 87, 20) solid; 
    background-color:  rgb(231, 165, 126);
  }


  p.compraRealizada {
    color: rgb(202, 87, 20);
    font-weight: bold;
    font-size: 1.5rem;
  }
  

  .totalPagar {
    color: rgb(202, 87, 20);
    font-weight: bold;
    font-size: 1.5rem;
  }